.player-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.player-color {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.mat-card{
  margin: 2%;
}
